* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  /* font-family: "Montserrat", sans-serif; */
}
img {
  max-width: 100%;
  height: auto;
}
.container_area {
  max-width: 1200px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
}

.d_flex {
  display: flex;
}
.paddinglr {
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  width: 33.33%;
}
.text_align {
  text-align: center;
}
.align_item,
.align_center {
  align-items: center;
}
.just_between {
  justify-content: space-between;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

/* header */
.main_header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 6;
  width: 100%;
  background: #008cb5;
  .nav {
    & > li {
      margin-right: 40px;
      & > a {
        padding: 25px 0;
        font-family: "Montserrat", sans-serif;
      }
      a {
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        line-height: 1;
        display: inline-block;
      }
    }
  }
}
.logo_image {
  width: 100%;
  height: 100%;
}
.logo {
  width: 208px;
  height: 55px;
}
.menu_icon {
  visibility: hidden;
  display: none;
}
.nav_content {
  padding: 10px 15px;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.nav li {
  align-items: center;
}
.has_subnav {
  position: relative;
}
.subnav {
  visibility: hidden;
  background: #008cb5;
  position: absolute;
  padding: 0;
  padding: 11px 0;
}
.subnav li a {
  padding: 10px;
  font-size: 11px !important;
  width: 160px;
}

/* nav hover */
.has_subnav:hover .subnav {
  visibility: visible;
}

.solid_animation {
  position: absolute;
  width: 100%;
  height: 5px;
  top: 0px;
  background: rgb(0 0 0 / 15%);
  animation-name: example;
  animation-duration: 4s;
  z-index: 9;
}

@keyframes example {
  0% {
    background: left 0px top 0px;
  }

  100% {
    background-color: left 100px top 0px;
  }
}

/* slider image */
.hero_slider {
  position: relative;
  margin-top: 84px;
  margin-bottom: 120px;
  background: #fff;
  z-index: 4;
}
.slider_content {
  position: absolute;
  z-index: 5;
  inset: 0;
}
.top_slider {
  width: 100%;
  height: auto;
}
.slider_container {
  width: 64%;
  max-width: 100%;
  margin: 0 auto;
}
.title {
  font-family: "Montserrat", sans-serif;
  font-size: 44px;
  font-weight: 700;
  line-height: 1;
  color: rgb(0, 0, 0);
}
.title_color {
  font-family: "Montserrat", sans-serif;
  color: rgb(0, 140, 181);
}
.read_more_button {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  background: rgb(0, 140, 181);
  border-radius: 30px;
  border: 1px solid rgb(0, 140, 181);
  padding: 5px 12px;
  margin-top: 20px;
}
.slider_image {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
  position: relative;
  z-index: 3;
}

/* section */
.new_section {
  padding: 120px 0px 65px;
}
/* section 2 */
.looking_for,
.looking_image {
  width: 50%;
}
.h2_title {
  font-family: "Montserrat", sans-serif;
  color: rgb(0, 140, 181);
  font-size: 30px;
  font-weight: 700;
  line-height: 38px;
  margin-bottom: 17px;
}

.looking_for p {
  font-size: 15px;
  padding-bottom: 30px;
  color: #999;
  line-height: 29px;
  padding-right: 30px;
}
.image_content {
  width: 100%;
  height: auto;
}

/* gelary */
.padding_top {
  padding-top: 20px;
}
.section_title {
  font-family: "Montserrat", sans-serif;
  color: #008cb5;
  padding: 20px 0 30px 0;
  font-size: 50px;
  font-weight: 700;
}
.gelary_title {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 600;
  color: #4d4d4d;
  margin-top: 35px;
  margin-bottom: 10px;
}
.news_gelary_title {
  font-size: 18px;
  display: block;
}
.gelary_p {
  color: #999;
  font-size: 15px;
  line-height: 29px;
}

/* searvice */
.gelary_image {
  width: 40px;
  height: auto;
}
.services {
  transition: 0.5s;
  padding: 50px 50px 40px;
}
.services:hover {
  background: #f5fcfd;
}

/* Newse */
.news_date {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  line-height: 14px;
  font-weight: 400;
  background: #008cb5;
  padding: 3px 9px;
  display: inline-block;
  margin-top: 45px;
}

/* footer */
footer {
  padding: 107px 0 0;
  background: #202020;
}
footer .contact_icon {
  width: 24px;
  height: 24px;
}

.footer_section {
  color: #999999;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.footer_section h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #008cb5;
  margin-top: 10px;
  margin-bottom: 28px;
  line-height: 26px;
}

.footer_section_1 li {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 13px;
  padding-left: 35px;
  position: relative;
}
.footer_section_1 img {
  position: absolute;
  left: 0;
  top: 0;
}

.footer_content {
  width: 25%;
  padding-left: 15px;
  padding-right: 15px;
}
.footer_content li {
  margin-top: 4px;
}
.footer_content li a {
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  text-decoration: none;
  color: #999999;
}
.footer_pera3 {
  font-size: 15px;
  line-height: 29px;
  font-weight: 400;
}
.footer_section_2 {
  margin-bottom: 47px;
}

.email_send {
  position: relative;
  align-items: center;
  margin-top: 22px;
}
.email::placeholder {
  font-size: 14px;
  color: #999999;
}
.email {
  color: #555555;
  background: transparent;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  border: none;
  border-bottom: 1px solid #272727;
  outline: none;
  height: 40px;
  width: 90%;
  padding: 6px 12px;
  padding-left: 0;
}

.email_send_icon {
  width: 20px;
  height: auto;
}
.social_icon {
  width: 20px;
  height: 20px;
  margin-right: 12px;
}
.icon {
  width: 100%;
  height: auto;
}
.footer_social_icon {
  margin-top: 22px;
  align-items: center;
  padding: 0 60px;
}
/* copyright */
.copyright {
  padding: 20px 0;
  border-top: 1px solid #252525;
}
.copyright p,
a {
  font-size: 13px;
  line-height: 24px;
  text-align: center;
  color: #e3e1e1;
}
.copyright a {
  color: #e3e1e1;
}

/* up icon */
.up_icon {
  position: fixed;
  right: 30px;
  bottom: 30px;
  scroll-behavior: smooth;
  z-index: 9;
}
.up_icon_top {
  background: #008cb5;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
